<!-- TODO Should probably actually be tab menu instead-->
<p-tabView (onChange)="onTabChange($event)">
  <p-tabPanel header="home">
    <br />
    This is the home dashboard, which is rendered by the Navbar app.<br />
    Here's a piechart, very informative. <br />
      <img src="/navbar/dist/navbar/assets/piechart.png" />    
  </p-tabPanel>
  <p-tabPanel header="app1">
  </p-tabPanel>
  <!-- <p-tabPanel header="inline content"> -->
    <!-- blows up -->
    <!-- <button (click)="singleSpaNavigate('/app1')">nav to app1</button> <br /> -->
    <!-- seems to work -->
    <!-- <a class="s-spa-link" onclick="singleSpaNavigate('/app1')">singlespanavigate to app1</a> <br /> -->
    <!-- currently opening index page -->
    <!-- <a href="/app1">std. link to app1</a>  -->
  <!-- </p-tabPanel> -->
</p-tabView>